body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #000;
  color: #ffff;
}

header {
  background-color: #262626;
  display: flex;
  flex-direction: row;
}

.hd {
  padding-top: 20px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 25px;
  box-sizing: border-box;
}

.hd-t {
  text-align: center;
  font-size: 20px;
  color: #ffff;
  padding-top: 30px;
}

.hd-a {
  margin: auto;
}

.hd-b {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

.hd0 {
  padding-top: 100px;
}

.hd1 {
  box-sizing: border-box;
  display: flex;
}

.hd1-a {
  opacity: 0;
  padding-top: 10px;
}

.hd1-b {

  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}

.hd1-c {
  padding-left: 100px;
  padding-right: 100px;
}

.hd1-d {
  font-size: 25px;
}

.hd1-e {
  justify-content: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.txt-con {
  left: 100px;
  top: 120px;
  width: 400px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  text-align: left;
}

.txt {
  color: #ffff;
  font-size: 25px !important;
  display: inline-block;
}

.txt-a {
  font-size: 50px !important;
}

.fa {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 22px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #262626;
  color: #ffff;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.fa-pr {
  background: #262626 !important;
}

.fa-pr:hover {
  text-decoration: none !important;
  opacity: 1 !important;
}


img.img1 {
  width: 100%;
}

.con {
  position: absolute;
  left: 41%;
  top: 16px;
}

.img-con {
  text-align: center;
  position: relative;
}

img.img2 {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.img2-a {
  border-radius: 50%;
  width: 300px;
  padding-right: 30px;
}

img.img3 {
  padding-left: 83px;
  padding-right: 83px;
  height: 50px;
  width: 70px;
}

img.img4 {
  width: 300px;
}

.img1 {
  text-align: center;
}

footer {
  background: #262626;
  padding: 48px;
  display: block;
  text-align: center;
}

a.link {
  color: #ffff;
  text-decoration: none;
}

a.link-act {
  color: #E45F4E;
  text-decoration: none;
}

a.link:hover {
  color: #E45F4E;
}

a.link1 {
  color: #ffff;
  text-decoration: none;
}

a.link1:hover {
  text-decoration: underline;
}

a.con-a {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px !important;
}

.pr {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 10px;
}

.pr-text1 {
  font-size: 20px;
}

.pr-text2 {
  font-size: 13px;
  opacity: 0.6;
}

.pr-a {
  padding-bottom: 20px;
}

.pr-b {
  padding-top: 0 !important;
}

.pr1 {
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  margin-left: 3%;
  margin-right: auto;
}

.pr2 {
  background: #262626;
  width: 500px;
  padding-left: 30px;
}

.pr3 {
  align-self: center;
  padding-right: 30px;
}

.ct {
  padding-top: 20px;
  padding-left: 16px;
  font-size: 30px;
  text-align: center;
}

.ct1 {
  margin-left: 350px;
  padding: 20px;
}

.ct2 {
  height: 20px;
  width: 600px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.ct2-m {
  height: 260px;
}

.ct3 {
  text-align: center;
  padding: 15px 32px;
  font-size: 16px;
  padding: 16px;
  background: #E45F4E;
  color: #ffff;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
}